{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "header.html" %}
<h2><a href="https://connpass.com/about/api/">イベントサーチAPI</a></h2>
<p>を利用してPython関連のイベントを一覧にしています。</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">キャチコピー</th>
      <th scope="col">開催日時</th>
      <th scope="col">終了日時</th>
      <th scope="col">開催場所</th>
      <th scope="col">URL</th>
    </tr>
  </thead>

{% for result in results %}
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{ result['title'] }}</td>
      <td>{{ result['catch'] }}</td>
      <td>{{ result['started_at'][:10] }} {{ result['started_at'][11:16] }}</td>
      <td>{{ result['ended_at'][:10] }} {{ result['ended_at'][11:16] }}</td>
      <td>{{ result['address'] }}</td>
      <td><a href="{{ result['event_url'] }}">Link</a></td>
    </tr>
{% endfor %}
</tbody>
</table>

{% include "footer.html" %}
{% endblock %}