<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- megamanu style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}" />

    <title>BOOK RANKING</title>
  </head>
<body>

<nav class="navbar navbar-expand-lg navbar-light py-3 shadow-sm" style="background-color: #003333;">
  <a href="#" class="navbar-brand font-weight-bold d-block d-lg-none"><font color="white">ランキング</font></a>
  <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler btn-light">
          <span class="navbar-toggler-icon"></span>
      </button>
  <div id="navbarContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <!-- Megamenu-->
      <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle text-white font-weight-bold text-uppercase">本・雑誌・コミック</a>
        <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
          <div class="container">
            <div class="row bg-white rounded-0 m-0 shadow-sm">
              <div class="col-lg-10 col-xl-12">
                <div class="p-2">
                  <div class="row">
                    <div class="col-lg-4 mb-2">
                      <h6 class="font-weight-bold text-uppercase">本・雑誌・コミック</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link text-small pb-0">本・雑誌・コミック</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='novel')}}" class="nav-link text-small pb-0 ">小説・エッセイ</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='license')}}" class="nav-link text-small pb-0 ">資格・検定</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='life')}}" class="nav-link text-small pb-0 ">ライフスタイル</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='appendix')}}" class="nav-link text-small pb-0 ">付録つき</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='hobby')}}" class="nav-link text-small pb-0 ">ホビー・スポーツ・美術</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='picture_book')}}" class="nav-link text-small pb-0 ">絵本・児童書・図鑑</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='study')}}" class="nav-link text-small pb-0 ">語学・学習参考書</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='travel')}}" class="nav-link text-small pb-0 ">旅行・留学・アウトドア</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-4 mb-2">
                      <h6 class="font-weight-bold text-uppercase d-none">　</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="{{url_for('genre', category='humanities')}}" class="nav-link text-small pb-0 ">人文・地歴・哲学・社会</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='business')}}" class="nav-link text-small pb-0 ">ビジネス・経済・就職</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='pc_system')}}" class="nav-link text-small pb-0 ">PC・システム開発</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">科学・医学・技術</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='comic')}}" class="nav-link text-small pb-0 ">コミック</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='light_novel')}}" class="nav-link text-small pb-0 ">ライトノベル</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='boys_love')}}" class="nav-link text-small pb-0 ">ボーイズラブ</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='entertainment')}}" class="nav-link text-small pb-0 ">エンターテインメント</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='photo')}}" class="nav-link text-small pb-0 ">写真集・タレント</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='bunko')}}" class="nav-link text-small pb-0 ">文庫・新書</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-4 mb-2">
                      <h6 class="font-weight-bold text-uppercase d-none">　</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="{{url_for('genre', category='secondhand_book')}}" class="nav-link text-small pb-0 ">古書・希少本</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='on_demand')}}" class="nav-link text-small pb-0 ">オンデマンド書籍</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='musical_score')}}" class="nav-link text-small pb-0 ">楽譜</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='magazine')}}" class="nav-link text-small pb-0 ">雑誌</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='newspaper')}}" class="nav-link text-small pb-0 ">新聞</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='foreign_book')}}" class="nav-link text-small pb-0 ">洋書</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='calendar')}}" class="nav-link text-small pb-0 ">カレンダー</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='poster')}}" class="nav-link text-small pb-0 ">ポスター</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='pamphlet')}}" class="nav-link text-small pb-0 ">パンフレット</a></li>
                        <li class="nav-item"><a href="{{url_for('genre', category='other_books')}}" class="nav-link text-small pb-0 ">その他</a></li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
<!--      <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase text-white">About</a></li>-->
<!--      <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase text-white">Services</a></li>-->
<!--      <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase text-white">Contact</a></li>-->
    </ul>
  </div>
</nav>

