
{% block content %}
{% include "header.html" %}
<br><br><br>
<div class="container">
  <div class="text-nowrap bd-highlight" style="width: 8rem;">
    {{ page_title }} <font size="1" color="gray">このサイトは楽天ウェブサービスのランキングAPIを利用して作成しています。</font>
  </div>
</div>

{% for result in results %}
  {% set val = result['Item']['rank'] -1 %}
  {% if (val) % 4 == 0 %}
    <div class="container py-4">
      <div class="card-deck mb-3 text-center">
  {% endif %}
      <div class="card border-dark" style="width: 16rem;">
        {{ result['Item']['rank'] }}位
        <img src="{{ result['Item']['mediumImageUrls'][0]['imageUrl'] }}" class="img-thumbnail mx-auto">
        <div class="card-body">
          <a href="{{ result['Item']['itemUrl'] }}"><p class="card-title"><font color="#000000">{{ result['Item']['itemName'] }}</font></p></a>
          <p class="card-text"><font size="2" color="#696969">{{ result['Item']['catchcopy'] }}</font></p>

        </div>
      </div>
  {% if val+1 % 4 == 0 %}
      </div>
    </div>
  {% endif %}
{% endfor %}

{% include "footer.html" %}
{% endblock %}