
{% block content %}
{% include "header.html" %}

<br><br><br>
<div class="container">
  <div class="text-nowrap bd-highlight" style="width: 8rem;">
    {{ page_title }}
  </div>
</div>

{% for result in results %}
  {% set val = result['Item']['rank'] -1 %}
  {% if (val) % 3 == 0 %}
    <div class="container py-1">
      <div class="card-deck mb-3 text-center">
  {% endif %}

      <div class="card border-dark">
        {{ result['Item']['rank'] }}位
        <img src="{{ result['Item']['mediumImageUrls'][0]['imageUrl'] }}" class="img-thumbnail mx-auto">
        <div class="card-body">
          <a href="{{ result['Item']['itemUrl'] }}"><p class="card-title"><font color="#000000">{{ result['Item']['itemName'] }}</font></p></a>
          <p class="card-text"><font size="2" color="#696969">{{ result['Item']['catchcopy'] }}</font></p>
        </div>
      </div>

  {% if (val+1) % 3 == 0 %}
      </div>
    </div>
  {% endif %}
{% endfor %}

{% set number = page|int %}

<div class="container">
  <div class="text-nowrap bd-highlight" style="width: 8rem;">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number-1)}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number)}}">{{number}}</a></li>
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number+1)}}">{{number+1}}</a></li>
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number+2)}}">{{number+2}}</a></li>
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number+3)}}">{{number+3}}</a></li>
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number+4)}}">{{number+4}}</a></li>
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number+5)}}">{{number+5}}</a></li>
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number+6)}}">{{number+6}}</a></li>
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number+7)}}">{{number+7}}</a></li>
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number+8)}}">{{number+8}}</a></li>
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number+9)}}">{{number+9}}</a></li>
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number+10)}}">{{number+10}}</a></li>
        <li class="page-item"><a class="page-link" href="{{url_for('genre', category=category, page=number+1)}}">Next</a></li>
      </ul>
    </nav>
  </div>
</div>

{% include "footer.html" %}
{% endblock %}